@import "tailwindcss";

/* *{
  outline : 1px solid red;
} */

body{
  overflow-x: hidden;
  max-width : 100%;
}

.container{
  height : 200vh;
  width : 100vw;
  overflow-x : hidden;
  background-color: rgb(118, 116, 116);
  
}
